{% extends "layout.html" %}
  {% block content %}

  <h1> Add Book </h1>
    <form action="" method="post" novalidate>
        
        {{ form.hidden_tag() }}
        
        <p>
          {{ form.bookID.label }}<br>
          {{ form.bookID(size=32) }}<br>
          {% for error in form.bookID.errors %}
          <span style = "color: red;"> [{{ error }}] </span>
          {% endfor %}
       </p>
        <p>
          {{ form.title.label }}<br>
          {{ form.title(size=32) }}<br>
          {% for error in form.title.errors %}
          <span style = "color: red;"> [{{ error }}] </span>
          {% endfor %}
        </p>

        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}<br>
            {% for error in form.author.errors %}
            <span style = "color: red;"> [{{ error }}] </span>
            {% endfor %}
        </p>

        <p>
          {{ form.publishedDate.label }}<br>
          {{ form.publishedDate(size=32) }}<br>
          {% for error in form.publishedDate.errors %}
          <span style = "color: red;"> [{{ error }}] </span>
          {% endfor %}
        </p>

        <p>
          {{ form.ISBN.label }}<br>
          {{ form.ISBN(size=32) }}<br>
          {% for error in form.ISBN.errors %}
          <span style = "color: red;"> [{{ error }}] </span>
          {% endfor %}
        </p>

        <p> {{ form.submit() }} </p>
      </form>

      <body>
          <div class="container">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <h2>Books</h2>
                    </div>
                </div>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Book ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if books!=none%}
                        {% for book in books %}
                            <tr>
                                <td>{{ book.BookID }}</td>
                                <td>{{ book.Title }}</td>
                                <td>
                                    <form action="/delete" method="post">
                                        <input type="hidden" name="bookID" value="{{ book.bookID }}" />
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {% endif%}
                </table>
    
                <div class="table-title">
                    <div class="row">
                        <h3>Add Book</h3>
                        <form action="/add" method="post">
                            <div class="form-group">
                                <label form="Book">Book</label>
                                <input type="int" class="form-control" id="title" name="BookID" placeholder="Enter BookID" />
                                <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" />
                                <input type="text" class="form-control" id="author" name="author" placeholder="Enter Author" />
                                <input type="date" class="form-control" id="publishedDate" name="publishedDate" placeholder="Enter published Date" />
                                <input type="text" class="form-control" id="ISBN" name="ISBN" placeholder="Enter ISBN" />
                            </div>
                            <button type="submit" class="btn btn-success">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

{% endblock %}



